<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body style="margin: auto; max-width: 700px;">

<h1>Добавить студента</h1>
<br>
<form style="display: flex; justify-content: center; align-content: center; flex-direction: column" th:method="POST"
      th:action="@{/students}" th:object="${stud}">
    <label style="margin-top: 20px" for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label style="margin-top: 20px" for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <input type="submit" class="btn btn-primary" style="margin-top: 50px" value="Создать">
</form>

</body>
</html>